<!-- <h1>it worked</h1>
 -->
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body class="container">  
        <!-- <center>  <h1>Welcome to ks Ludo game</h1> -->

            



            <hr>
            


        
<!--             
          <!-- Modal Trigger -->
          <button data-target="modal1" class="btn modal-trigger">Modal</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add match scorer</h4>
      <form method="Post" class="post-form"enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="first">
        <input type="text" name="second">
        <input type="text" name="third">
        <input type="text" name="fourth">
        <button type="submit" data-target="modal1" class="modal-close btn ">Add score</button>
    </form>
    </div>
    <div class="modal-footer">
       
    </div>
  </div>  
</center>

  <script>
      
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
      </script> -->
    </body>
</html>

